In [2]:
import pandas_datareader.data as pdr
df = pdr.DataReader("9434.JP", "stooq")
df

               Open     High      Low    Close        Volume
Date
2024-08-20  1944.00  1969.50  1944.00  1967.00  4.933600e+06
2024-08-19  1924.50  1949.50  1920.50  1940.00  5.214800e+06
2024-08-16  1929.00  1929.50  1900.50  1927.00  6.138300e+06
2024-08-15  1890.50  1915.00  1882.50  1895.00  5.264000e+06
2024-08-14  1900.00  1912.00  1882.50  1885.50  6.480800e+06
...             ...      ...      ...      ...           ...
2019-08-29  1213.68  1216.54  1204.77  1207.60  1.061497e+07
2019-08-28  1219.37  1221.40  1211.25  1212.88  1.149821e+07
2019-08-27  1225.45  1226.27  1217.33  1221.40  1.041967e+07
2019-08-26  1218.56  1223.83  1214.90  1221.40  1.211307e+07
2019-08-23  1229.50  1235.21  1226.27  1231.14  1.727646e+07

[1219 rows x 5 columns]